body{
    background-image: url("backdrop.jpeg");
    background-position: center;
    background-size: cover;
}
input{
    width: 400px !important;
    
}
h1{
  font-weight: bold;
  font-style:unset;
  color: black;
}
h3{
    font-weight: bolder;
    font-style: inherit !important;
    color:black;
     width: 200px;
    border-radius: 5px;
}
h4{
    display:inline-block;
    margin-left: 10px;
    font-weight:bold;
    color: black;
}
#output{
    background-color: white;
    border-radius: 20px;
    border-top-width: 3px;
    border-color: black;
    border-top-style: solid;
}
button{
    margin-top: 5px;
    margin-bottom: 5px;
}